*.pyc
.bake/
.idea/
.cache/
.direnv/
compile_commands.json
Testing/
build/
cmake-build*
__pycache__/
venv
.devcontainer
.vscode*
.project
.envrc
.DS_Store
*.egg-info
tools/puncover_tool/output/
.docker_history/
.sccache/
doc/doxygenOut
doc/doc-coverage.info
doc/DoxygenWarningLog.txt
.bash_history